<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="loader.js"></script>
<script src="chartkick.js"></script>
<h3>Downsampling <%= conditions.count %> records to
  <select value="<%= threshold %>" onchange="location.href=`/?threshold=${this.value}`">
    <option><%= threshold %></option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
    <option value="5000">5000</option>
  </select> points.
</h3>

<%= area_chart("/lttb_sql?threshold=#{threshold}", loading: "dowsampled data from SQL") %>
<%= area_chart("/lttb_ruby?threshold=#{threshold}", loading: "downsampled data from Ruby") %>
<!--%= line_chart("/all_data", loading: "Loading all data") %-->

